.container{

	background-color: lightgray;
	width:20%;

}
 .naext{
 	width: 10%;

	
}

.month{
	width: 80%;
	
	
}
.prev{
	width: 10%;

	
}
table{
	border: solid 2px white;
	width: 100%;
}
td{
	border: solid 2px white;
	text-align: center;
}